[submodule "IRBEM"]
	path = IRBEM
	url = https://github.com/PRBEM/IRBEM.git
[submodule "data_management"]
	path = data_management
	url = git@rbm9.gfz-potsdam.de:pager-wp8/data_management.git
    branch = tests
